body {
    background: #EEE;
    font-family: 'Fira Mono';
}

* {
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 0.025rem;
}

/* Layout */
.layout {    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* Components */
.link {
    color: #000;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Navbar */
.nav {
    position: relative;
    width: 100%;
    height: 60px;
}

.nav__section {
    display: inline-block;
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
}

.nav__section.index {
    float: left;
}

.nav__section.about {
    float: right;
}

/* Main */
.main {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.main__container {
    text-align: center;
}

.main__links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main__links li {
    display: inline-block;
    padding: 5px 15px;
}
